<div class="card">
	<div class="card-header">
		Schnelle Notiz
	</div>
	<div class="card-body">
		<form #quickNotizForm="ngForm">
			<div class="form-group">
				<label for="class">Klasse</label>
				<select id="class" class="form-control" [(ngModel)]="klasse" (ngModelChange)="onSelectKlasse()"
				        name="klasse">
					<option value="all" selected>Alle Klassen</option>
					<option *ngFor="let klasse of klassen" [ngValue]="klasse.id">{{klasse.stufe}}{{klasse.name}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="student">Schüler</label>
				<select id="student" class="form-control" [(ngModel)]="schuelerSelected" name="schuelerSelected"
				        required>
					<option *ngFor="let schueler of schuelerShown" [ngValue]="schueler">{{schueler.vorname}}
						{{schueler.nachname}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="teacher">Lehrer</label>
				<select id="teacher" class="form-control" [(ngModel)]="lehrerSelected" name="lehrerSelected" required>
					<option *ngFor="let lehrer of lehrerListe" [ngValue]="lehrer">{{lehrer.firstName}}
						{{lehrer.lastName}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="text">Bemerkung</label>
				<textarea id="text" class="form-control" [(ngModel)]="text" name="text" required></textarea>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" [disabled]="!quickNotizForm.valid" (click)="addNotiz()">
					Hinzufügen
				</button>
			</div>
		</form>
	</div>
</div>
