.form-row
{
    margin: 8px 0;
}

.form-row label
{
    display: inline-block;
    width: 110px;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-row input
{
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 4px;
    width: 370px;
}

.form-row-block input
{
    display: block;
}

.form-row-block label
{
    width: auto;
}

.form-row input:focus
{
    border: 1px solid #1fb2ff;
}

button, .button
{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px 16px;
    color: #000;
    background-color: #eeeeee;
    cursor: pointer;
    font-size: 10pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    margin: 8px;
}

.button-disabled
{
    color: #999;
}

select
{
    display: block;
    border: 1px solid #bbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    padding: 4px;
    background-image: url('../img/dropdown.min.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 32px 32px;
}

.form-row p
{
    margin: 0 8px;
}

.form-row select
{
    width: 300px;
}

.form-row-inline select
{
    display: inline;
    width: 380px;
}

.form-row button, .form-row .button
{
    margin: 0;
}

.form-row textarea
{
    display: block;
    border: 1px solid #bbb;
    border-radius: 8px;
    resize: vertical;
    padding: 5px;
    width: 370px;
}