@import "font-roboto.css";

body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container
{
    width: 1024px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300;
}

.login
{
    width: 512px;
    margin: 50px auto 0;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-row label
{
    display: inline-block;
    width: 100px;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-row input
{
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 4px;
    width: 380px;
}

.form-row input:focus
{
    border: 1px solid #1fb2ff;
}

button, .button
{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px 16px;
    color: #333;
    background-color: #eeeeee;
    cursor: pointer;
    font-size: 10pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.navbar
{
    background-color: rgba(0,0,0,.75);
    color: white;
}

.navbar .container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.navbar .navbar-brand
{
    font-weight: bold;
    margin-right: 15px;
    width: 100px;
}

.navbar.navbar-nobrand ul
{
    margin-left: 115px;
}

.navbar ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navbar ul ul
{
    display: flex;
    flex-direction: column;

    visibility: hidden;
    opacity: 0;
    transition: opacity .25s;

    position: absolute;
    background-color: rgba(0,0,0,.75);
    width: 200px;
    padding: 15px 10px;
    margin: 20px 0 0 -15px;
}

.navbar ul li:hover ul
{
    visibility: visible;
    opacity: 1;
    transition: opacity .25s;
}

.navbar ul li:hover ul li.active
{
    background-color: transparent;
    text-decoration: underline;
}

.navbar ul li ul li
{
    padding: 10px 5px;
    transition: padding .25s;
}

.navbar ul li ul li:hover
{
    padding: 10px 10px;
}

.navbar ul li
{
    padding: 20px 15px;
}

.navbar-small ul li
{
    padding: 5px 15px;
}

.navbar ul li.active
{
    background-color: rgba(0,0,0,.4)
}

.navbar a
{
    color: white;
    text-decoration: none;
}

.card
{
    padding: 16px;
    /*box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);*/
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 16px 0;
}

.card h2
{
    margin: 5px 0;
}

.class-date-selector
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

select
{
    display: block;
    border: 1px solid #bbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    padding: 4px;
    background-image: url('../img/dropdown.min.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 32px 32px;
}

.class-date-selector select
{
    width: 380px;
}

.datepicker tbody td
{
    padding: 4px;
    text-align: right;
    cursor: pointer;

}

.datepicker td:nth-of-type(6),
.datepicker td:nth-of-type(7),
.datepicker th:nth-of-type(6),
.datepicker th:nth-of-type(7),
.datepicker .date-next,
.datepicker .date-prev
{
    color: #bbbbbb;
}

.pause-countdown
{
    width: 100%;
    height: 16px;
    border: 1px solid #bbb;
    border-radius: 16px;
    overflow: hidden;
}

.pause-countdown div
{
    width: 65%;
    height: 16px;
    background: #666 linear-gradient(
            45deg,
            #555 25%,
            transparent 25%,
            transparent 50%,
            #555 50%,
            #555 75%,
            transparent 75%,
            transparent
    );
    background-size: 20px 20px;
    border: 0px solid white;
    animation: progress-stripes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes progress-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: -20px 0;
    }
}

.table
{
    width: 100%;
    border-collapse: collapse;
}

.table thead tr
{
    border-bottom: 1px solid #555;
    text-align: left;
}

.table thead th
{
    font-size: 16pt;
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300;
    margin: 0 8px;
}

.table tbody td
{
    padding: 5px;
}

.table tbody tr:nth-of-type(2n)
{
    background-color: rgba(0,0,0,.1);
}

.notes-action
{
    margin: 16px;
    display: flex;
    flex-direction: row;
}

.form-row select
{
    width: 300px;
}

.addnote .form-row
{
    margin: 16px 0;
}

.form-row p
{
    margin: 0 8px;
}

.addnote .form-row textarea
{
    display: block;
    resize: vertical;
}