.navbar
{
    background-color: rgba(0,0,0,.75);
    color: white;
}

.navbar .container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.navbar .navbar-brand
{
    font-weight: bold;
    margin-right: 15px;
    width: 100px;
}

.navbar.navbar-nobrand ul
{
    margin-left: 115px;
}

.navbar ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navbar ul ul
{
    display: flex;
    flex-direction: column;

    visibility: hidden;
    opacity: 0;
    transition: opacity .25s;

    position: absolute;
    background-color: rgba(0,0,0,.75);
    width: 200px;
    padding: 15px 10px;
    margin: 20px 0 0 -15px;
}

.navbar ul li:hover ul
{
    visibility: visible;
    opacity: 1;
    transition: opacity .25s;
}

.navbar ul li:hover ul li.active
{
    background-color: transparent;
    text-decoration: underline;
}

.navbar ul li ul li
{
    padding: 10px 5px;
    transition: padding .25s;
}

.navbar ul li ul li:hover
{
    padding: 10px 10px;
}

.navbar ul li
{
    padding: 20px 15px;
}

.navbar-small ul li
{
    padding: 5px 15px;
}

.navbar ul li.active
{
    background-color: rgba(0,0,0,.4)
}

.navbar a
{
    color: white;
    text-decoration: none;
}

.navbar .spacer
{
    flex-grow: 1;
}

.navbar .user div:first-child
{
    height: 60px;
}


.navbar .user .dropdown
{
    position: absolute;
    opacity: 0;
}

.navbar .user:hover .dropdown
{
    opacity: 1;
}