<div class="container-fluid mt-3" *ngIf="error !== null">
	<div class="alert alert-danger">
		{{error}}
	</div>
</div>
<div class="container-fluid mt-3" *ngIf="klasse !== null">
	<form #schuelerEditForm="ngForm">
		<div class="form-group">
			<label for="vorname">Vorname</label>
			<input type="text" class="form-control" id="vorname" [(ngModel)]="schueler.vorname" name="vorname">
		</div>
		<div class="form-group">
			<label for="nachname">Nachname</label>
			<input type="text" class="form-control" id="nachname" [(ngModel)]="schueler.nachname" name="nachname">
		</div>
		<div class="form-group">
			<label for="klasse">Klasse</label>
			<select id="klasse" [(ngModel)]="schueler.klasse" class="form-control" name="klasse" required>
				<option *ngFor="let klasse of klassenListe" [ngValue]="klasse.id">{{klasse.stufe}} {{klasse.name}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary" (click)="save()">Speichern</button>
			<a class="btn btn-default btn-outline-primary" routerLink="/schueler">Abbrechen</a>
		</div>
	</form>
</div>
