<div class="container-fluid">
	<div class="alert alert-danger" *ngIf="error">{{error}}</div>
	<a class="btn btn-light m-4" routerLink="new"><i class="fa fa-plus"></i> Notiz hinzufügen</a>
	<table class="table table-striped table-sm">
		<thead class="thead-inverse">
		<tr>
			<th>Datum</th>
			<th>Schüler</th>
			<th>Lehrer</th>
			<th>Text</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let notiz of notizen">
			<td>{{notiz.date | date:'dd.MM.yyyy HH:mm'}}</td>
			<td>{{notiz.schueler.vorname}} {{notiz.schueler.nachname}}</td>
			<td>{{notiz.lehrer.firstName}} {{notiz.lehrer.lastName}}</td>
			<td>{{notiz.text}}</td>
			<td class="btn-group">
				<a class="btn btn-light" [routerLink]="[notiz.id]"><i class="fa fa-pencil"></i></a>
				<button class="btn btn-light" (click)="deleteNotiz(notiz)"><i class="fa fa-trash"></i></button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
