<div class="container-fluid mt-3">
	<a class="btn btn-light m-3" routerLink="/schueler/new"><i class="fa fa-plus"></i> Neuer Schüler</a> <!-- have to be changed to add new Student /schueler/new -->
	<table class="table table-striped table-sm">
		<thead class="thead-inverse">
		<tr>
			<th>Vorname</th>
			<th>Nachname</th>
			<th>Klasse</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let _schueler of schueler">
			<td>{{_schueler.vorname}}</td>
			<td>{{_schueler.nachname}}</td>
			<td> <span *ngIf="_schueler.klasse">{{_schueler.klasse.stufe }}  {{_schueler.klasse.name }}</span><span *ngIf="!_schueler.klasse">-</span>  </td>
			<td class="btn-group float-right">
				<a class="btn btn-light" [routerLink]="[schueler.id]"><i class="fa fa-pencil"></i></a>
				<button type="button" class="btn btn-light" (click)="deleteSchueler(_schueler)"><i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>

